@media only screen and (max-width : 1200px) {
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .contact_list {
        text-align: left;
    }

    .contact_wrapper, .logo_wrapper {
        /*padding: 25px 0;*/
        /*line-height: 80px;*/
    }

    .tilestrip_r .texttile,
    .tilestrip_l .texttile {
        padding-right: 30px;
        padding-left: 30px;
    }

    .tilestrip_r .texttile {
        padding-bottom: 30px;
    }

    /*.tilestrip_r {
        flex-direction: column;
    }*/
}

@media only screen and (max-width : 992px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    img.no_margin {
        margin: auto;
    }

    .short_contact-wrapper .skewbcg::before {
        display: none;
    }

    .tilestrip_r, .tilestrip_l {
        flex-direction: column;
    }

    .tile {
        order: 1;
    }

    .texttile, .tool_description {
        order: 2;
    }

    .tool_description::after {
        right: 50%;
        transform: rotate(180deg) translateX(-50%);
        top: -20px;
    }

    .tilestrip_l .tool_description::after {
        left: 50%;
        transform: rotate(180deg) translateX(50%);
        top: -20px;
    }

    .short_contact {
        background-color: #f2f1f6;
    }

    .short_contact-wrapper .text_wrapper {
        width: 70%;
        margin: auto;
    }

    .short_contact-wrapper .container div:nth-child(2) {
        background-color: #0146ad;
    }

    .short_contact .short_contact-wrapper .border_trans {
        float: none;
        margin: 135px auto 0 auto;
    }

     .main_nav .contact_list {
        display: block;
        background: none;
    }

    .main_nav .contact_list .contact_item {
        display: block;
        text-align: center;
    }

     .toggle_menu, .close_menu {
        display: inline-block;
    }

    .toggle_menu {
        color: rgb(1, 70, 173);
        right: 20px;
        top: 45px;
    }

    .contact_wrapper, header {
        background: #FFF;
    }

    .main_nav {
        position: fixed;
        width: 50%;
        background: rgb(1, 70, 173);
        top: 0;
        right: -100%;
        /*visibility: hidden;*/
        /*transform: translateX(100%);*/
        height: 100vh;
        transition: all .6s;
    }

    .links_list {
        display: table-cell;
        vertical-align: middle;
        width: initial;
    }

    .main_nav > .container {
        height: 100%;
        display: table;
    }

    .links_list .link_item {
        display: block;
        width: initial;
        float: none;
    }

    .links_list .link_item:hover {
        background: none;
    }

    .link_item a:hover {
        color: #ccc;
    }

    .contact .contact_list {
        display: none;
    }

    .text_section p {
        padding: 0;
    }

    .contact_wrapper {
        width: 0;
        position: initial;
    }

    .logo_wrapper {
        width: 49%;
    }

    .main_site-header .container > div a {
        left: 30px;
    }

    .footer_contact-list, .footer_menu-list {
        text-align: center;
    }

    .main_footer > .container > div, .main_footer .footer_contact-wrapper {
        text-align: center;
    }

    .footer_contact-list {
        width: initial;
    }

    .footer_contact-wrapper,
    .footer_menu-wrapper {
        width: 100%;
    }

    #contact_form {
        padding: 20px;
    }
} 

@media screen and (max-width: 800px) {

   




}



@media screen and (min-width: 300px ) and (max-width: 566px) {
	.col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    #contact_form {
        padding: 10px;
    }
} 

}