* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

button {
	background: none;
	border: none;
}

body {
	position: relative;
}

input {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

input, textarea {
	-webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none;
}

img {
	display: block;
	max-width: 100%;
	/*min-height: 1px;*/
	/*height: 100%;*/
	margin: auto;
}

.main_site-header > .container > div,
.main_site-header .contact_wrapper,
.main_site-header .container > div img {
	display: inline-block;
    vertical-align: middle;
}

.main_site-header .container > div a {
	top: 30%;
	display: inline-block;
	position: relative;
}

.main_site-header > .container {
	height: 100%;
}

.logo:after {
	content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.logo_wrapper {
	height: 100%;
}

.main_nav.open {
	right: 0%;
}

.clearfix:before,
.clearfix:after {
	content: " ";
    display: table;
    clear: both;
}

.row:before,
.row:after {
	content:"";
	display: table ;
	clear:both;
}

[class*='col-'].no_padding {
	padding: 0px;
}

.no_margin {
	margin: 0;
}

img.no_margin {
	margin: 0;
}

[class*='col-'] {
	float: left;
	width: 100%;
	min-height: 1px;
	padding: 12px;
	position: relative;
}

.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}
.col-xs-20 {width: 20%;}
.col-xs-40 {width: 40%;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-20 {width: 20%;}
.col-40 {width: 40%;}

header, footer {
	background: rgb(1, 70, 173);
	text-align: justify;
    height: 8em;
    /*padding: 2em 5%;*/
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.toggle_menu {
	cursor: pointer;
	color: #FFF;
	display: none;
	color: #FFF;
	font-size: 25px;
	position: absolute;
	right: 10px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	/*display: inline-block;*/
}

.close_menu {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

/*.toggle_menu span {
    display: block;
    background-color: #000;
    position: absolute;
    height: 2px;
    width: 100%;
    opacity: 1;
    left: 0;
    transition: opacity 0.4s , transform 0.4s;
}*/


/*----------------Header-contact and work times----------------*/

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.contact_wrapper, .logo_wrapper {
	width: 29%;
	display: inline-block;
	position: relative;
	/*padding: 50px 0;*/
	/*line-height: 60px;*/
}

.contact_wrapper {
	background: rgb(1, 70, 173);
	width: 70%;
	text-align: right;
	/*padding: 0;*/
}

.contact_wrapper .contact {
	display: inline-block;
}

.logo_wrapper img {
	position: relative;
	z-index: 1000;
}

.logo_wrapper:before {
	content: '';
    background: rgb(255, 255, 255);
    /*background: red;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.9375rem;
    width: 300%;
    transform: skew(20deg);
    z-index: 1;
}

.logo {
	z-index: 10;
	position: relative;
}

.contact_list {
	text-align: right;
}

.contact_list .contact_item {
	display: inline-block;
	padding: 0px 20px;
	color: #FFF;
}

.contact_item a {
	color: #FFF;
	padding: 0px 5px;
	text-decoration: none;
	transition: all .5s;
}

.contact_item a:hover {
	color: #ccc;
}

.jumbotron {
	background: url('../img/main_intro.jpeg');
	min-height: 650px;
	background-size: cover;
	background-position: center center;
}

.jumbo_about_us {
	background: url('../img/nanpu_1600x250_2.jpg');
	min-height: 250px;
	background-size: cover;
	background-position: center center;
}

.jumbo_machinery {
	background: url('../img/volvo_1920x250_blue.jpg');
	min-height: 250px;
	background-size: cover;
	background-position: center center;
}



/*----------------Main navigation------------*/

.main_nav {
	width: 100%;
	position: relative;
	background: rgb(1, 70, 173);
	text-align: center;
	z-index: 1000;
}

.main_nav .contact_list {
	display: none;
}

.main_nav .contact_list {
	color: #FFF;
	font-weight: 400;
}

.main_nav .contact_list .contact_item {
	margin-top: 15px;
}

.links_list {
	width: 50%;
	margin: auto;
}


.links_list .link_item {
	float: left;
	/*display: inline-block;*/
	/*padding: 15px 40px;*/
	/*padding: 15px 0;*/
	width: 20%;
	cursor: pointer;
	transition: all .5s;
}

.link_item:hover {
	background: blue;
}

.link_item a {
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 0;
	display: block;
}

.close_menu {
	position: absolute;
	top: 40px;
	right: 40px;
	color: #FFF;
	cursor: pointer;
	display: none;
	font-size: 30px;
}

/*------------------two_section-----------------*/

.two_section {
	background: url('../img/road1.jpeg') 100% 50% no-repeat fixed;
	background-size: cover;
}

.two_section-wrapper {
	padding: 200px 0;
  	background: rgba(0,0,0,0.35);
}

/*----------------footer------------------------*/

footer {
    text-align: justify;
    padding: 2em 5%;
    background: #2c3e50;
    color: #fff;
}

footer::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.main_footer {
	background: rgb(1, 70, 173);
}

.footer_contact-list {
	text-align: left;
}

.footer_menu-list {
	text-align: right;
}

.contact_footer-item, .menu_footer-item {
	display: inline-block;
	padding: 0px 10px;
	color: #FFF;
}

.contact_footer-item {
	top: 22px;
	position: relative;
}

.contact_footer-item:nth-child(1) {
	padding: 0px 10px;
}

.footer_menu-wrapper, .footer_contact-wrapper {
	float: none;
	display: inline-block;
	width: initial;
}

.footer_menu-wrapper {
	width: 39%;
}

.footer_contact-wrapper {
	width: 60%;
	height: 100%;
}

.footer_contact-list {
	height: 100%;
	width: 82%;
	margin-left: 20px;
}

.main_footer > .container {
	height: 100%;
}

.main_footer > .container > div,
.main_footer .footer_contact-wrapper,
.main_footer .footer_contact-wrapper ul {
    display: inline-block;
    vertical-align: middle;
}

.footer_logo-wrapper {
	display: inline-block;
	width: initial;
}

.footer_logo-wrapper img {
	display: inline-block;
	position: relative;
	top: 8px;
}

/*----------------Contact form styles-----------------------*/

#map {
	width: 100%;
	height: 250px;
}

.jumbotron_map {
	position: relative;
}

/*.jumbotron_map:before {
	content: '';
	width: 100%;
	height: 100%;
	background: #0146ad;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	z-index: 1000;
}*/



.contact_details {
	background: #f2f1f6;
	padding: 70px 0;
}

#contact_form {
	background: #FFF;
	padding: 20px;
}

input[name=name],
input[name="surname"],
input[name="phone"],
input[name="company"],
input[name="email"] {
	width: 100%;
	padding: 12px 5px;
	margin-bottom: 26px;
	background: #f2f1f6
}

textarea[name=contact-message] {
	width: 100%;
	resize: none;
	height: 300px;
	border:none;
	background: #f2f1f6;
	padding: 12px 5px;
}

.submit_btn {
	background: rgb(1, 70, 173);
	border: 2px solid rgb(1, 70, 173);
	padding: 13px 22px;
	color: #FFF;
	font-weight: 400;
	letter-spacing: 1.5px;
	font-size: 16px;
	position: relative;
	float: right;
	cursor: pointer;
	right: 12px;
	transition: all .5s;
}

.submit_btn:hover {
	background: transparent;
	color: rgb(1, 70, 173);
}

.border_trans {
	border: solid rgb(1, 70, 173);
	border-width: 0 2px 2px 2px;
	position: relative;
	overflow: hidden;
	padding: 30px;
	text-align: center;
	overflow: visible;
}

.border_trans .contact_detail h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

.border_trans .contact_detail span {
	font-size: 20px;
}

.border_trans:before,
.border_trans:after {
	position: absolute;
	content: "";
	height: 2px;
	background: rgb(1, 70, 173);
	width: 35%;
	top: 0;
	left: 0;
}

.border_trans:after {
	left: auto;
	right: 0;
}

.tilestrip_r, .tilestrip_l {
	display: flex;
	flex-direction: row;
}

/*----------------Sprzęt section styles--------------*/

.tool_description {
	padding: 80px 100px;
	text-align: center;
	transition: all 0.5s;
}

.tool_description::after {
	content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    right: -40px;
    top: 50%;
    z-index: 1000;
    transform: rotate(-90deg) translateY(-50%);
    transition: all 0.5s;
}

.tilestrip_l .tool_description::after {
	left: -30px;
	transform: rotate(90deg);
}

.tilestrip_l:hover .tool_description::after,
.tilestrip_r:hover .tool_description::after{
	border-top-color: lightblue;
}

.tilestrip_l:hover .tool_description,
.tilestrip_r:hover .tool_description {
	background: lightblue;
}


/*-------------sprzęt section on home_page------------------*/

.ours_tools {
	background-color: #FFFFFF;
}

.ours_tools-wrapper {
	padding: 150px 0;
}

.ours_tools .text_wrapper {
	font-weight: 500;
	padding-left: 30px;
}

.ours_tools .text_wrapper h2 {
	margin-bottom: 90px;
	font-size: 40px;
}

.ours_tools .text_wrapper .get_tools {
	display: inline;
	cursor: pointer;
	/*width: 70px;*/
	background: transparent;
	padding: 10px 30px;
	border: 2px solid rgb(1, 70, 173);
	letter-spacing: 1.5px;
	transition: all .5s;
	color: rgb(1, 70, 173);
}

.ours_tools .text_wrapper .get_tools:hover {
	background-color: rgb(1, 70, 173);
	color: #FFF;
}


/*-----------short contact section styles---------------*/

.short_contact {
	background-color: rgb(1, 70, 173);
	font-family: 'Oswald', sans-serif;
}

.short_contact-wrapper .text_wrapper {
	padding: 150px 0;
}

.skewbcg p {
	position: relative;
	padding: 10px;
	z-index: 10;
	color: #0146ad;
	font-size: 40px;
}

.short_contact-wrapper .skewbcg::before {
	content: '';
    background: #f2f1f6;
    /* background: red; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.9375rem;
    width: 300%;
    transform: skew(20deg);
    z-index: 1;
}

.short_contact .short_contact-wrapper .border_trans {
	border-color: #fFF;
	margin-top: 135px;
	padding: 70px;
	float: right;
	width: 70%;
	position: relative;
	overflow: visible;
}

.short_contact .short_contact-wrapper .border_trans p,
.short_contact .short_contact-wrapper .border_trans h2,
.short_contact .short_contact-wrapper .border_trans span {
	color: #FFF;
}

.short_contact-wrapper .border_trans:before,
.short_contact-wrapper .border_trans:after {
	background-color: #FFF;
}

.text_wrapper .contact_detail svg {
	position: absolute;
	z-index: 10;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
}

/*------------------o nas section styles-------------*/

.features_list .feature:nth-child(odd){
	background-color: #0065fa;
}

.features_list .feature:nth-child(even) {
	background-color: rgb(1, 70, 173);
}

.feature {
	width: 20%;
	float: left;
	/*padding: 40px 0;*/
	height: 120px;
	vertical-align: middle;
	text-align: center;
	background-color: red;
	line-height: 120px;
	transition: all .5s;
	font-size: 15px;
}

.feature span {
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #FFF;
}

.feature:hover {
	opacity: 0.8;
}

.certificate_list {
	counter-reset: li;
}

.certificate_list .certificate_item {
	position: relative;
	z-index: 100;
	font-weight: 500;
	/*margin: 0px 100px;*/
	/*margin-top: 100px;*/
	/*margin-bottom: 100px;*/
	text-align: left;
	/*display: inline-block;*/
	min-height: 300px;
	text-align: center;
	color: #fff;
	display: table;
}

.certificate_item:nth-child(odd) {
	background: #0065fa;
}

.certificate_item:nth-child(even) {
	background: rgb(1, 70, 173);
}

.safe .certificate_item p {
	padding: 0px 15px;
	display: inline-block;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.certificate_list .certificate_item:before {
	/*content: counter(li);*/
	counter-increment: li;
	z-index: 10;
	/*background: #0065fa; */
	color: #0065fa;
	font: bold 100px/20px sans-serif;
	opacity: 0.6;
	/*font-weight: 300;*/
	/*height: 20px; */
	text-align: center;
	/*width: 20px; */
	position: absolute;
	/*left: 0; */
	top: -45px;
	left: -25px;
}


/*.main_site-header > .container > div,
.main_site-header .footer_contact-wrapper,
.main_site-header .container > div img {
	display: inline-block;
    vertical-align: middle;
}*/

/*-------------sprzęt section on home_page------------------*/

.ours_tools {
	background-color: #FFFFFF;
	background-color: whitesmoke;
	background-color: #f1f1f5;
}

.ours_tools-wrapper {
	padding: 150px 0;
}

.ours_tools .text_wrapper {
	font-weight: 500;
	padding-left: 30px;
}

.ours_tools .text_wrapper h2 {
	margin-bottom: 90px;
	font-size: 40px;
}

.ours_tools .text_wrapper .get_tools {
	display: inline;
	cursor: pointer;
	/*width: 70px;*/
	background: transparent;
	padding: 10px 30px;
	border: 2px solid rgb(1, 70, 173);
	letter-spacing: 1.5px;
	transition: all .5s;
	color: rgb(1, 70, 173);
}

.ours_tools .text_wrapper .get_tools:hover {
	background-color: rgb(1, 70, 173);
	color: #FFF;
}


/*-----------short contact section styles---------------*/



.short_contact {
	background-color: #f1f1f5;
	background-color: rgb(1, 70, 173);
	font-family: 'Oswald', sans-serif;
}

.short_contact-wrapper .text_wrapper {
	padding: 150px 0;
}

.skewbcg p {
	position: relative;
	padding: 10px;
	z-index: 10;
	color: #0146ad;
	font-size: 40px;
}

.short_contact-wrapper .skewbcg::before {
	content: '';
    background: whitesmoke;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.9375rem;
    width: 300%;
    transform: skew(20deg);
    z-index: 1;
}

.short_contact .short_contact-wrapper .border_trans {
	border-color: #fFF;
	margin-top: 135px;
	padding: 70px;
	float: right;
	width: 70%;
	position: relative;
	overflow: visible;
}

.short_contact .short_contact-wrapper .border_trans p,
.short_contact .short_contact-wrapper .border_trans h2,
.short_contact .short_contact-wrapper .border_trans span {
	color: #FFF;
}

.short_contact-wrapper .border_trans:before,
.short_contact-wrapper .border_trans:after {
	background-color: #FFF;
}

.text_wrapper .contact_detail svg {
	position: absolute;
	z-index: 10;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
}

.services h3,
.atuty h3 {
	margin-bottom: 30px;
}

.safe p {
	width: 60%;
	margin: auto;
	padding: 0;
}

.services,
.atuty {
	padding: 100px 0;
}
