
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #0146ad;
}

h3 {
  font-size: 23px;
  /*margin: 20px 0px 10px 0;*/
}

body {
  background-color: #f2f1f6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#whywe {
  background-image: url(../img/map_lightblue_1200.png);
  min-height: 1300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.padding-bottom { padding-bottom: 100px; }

.whywe h3 {
  padding: 70px 0 7px 0;
}

.services h4,
.atuty h4,
.safe h4 {
  padding-bottom: 10px;
  font-size: 24px;
}

.atuty .texttile p {
  padding: 10px 0px 10px 35px;
}

.text_section {
  /*padding: 50px 0px 150px 0px;*/
  overflow: hidden;
  /*background-size:cover;*/

}

.mainpage_text_section {
  padding: 150px 0px;
  overflow: hidden;
}

.mainpage_text_section p,
.text_section p {
  padding: 10px 25px 10px 0px;
  padding-top: 10px;
  line-height: 1.5;
  font-weight: 400;
}

.mainpage_text_section h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 150px;
}

.text_section h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.mainpage_text_section h2::after,
.text_section h2::after {
    content: "";
    display: block;
    position: absolute;
    /*bottom: 0px;*/
    left: 0px;
    right: 0px;
    width: 80px;
    height: 3px;
    background-color: #0146ad;
    opacity: 0.3;
    margin: auto;
    margin-top: 15px;
}

#two_section {
  color: white;
}

#two_section h2 {
  color: white;
  font-size: 36pt;
  margin-bottom: 20px;
}

#two_section p {
  color: white;
  font-size: 16pt;
  margin-bottom: 30px;
}

#two_section a {
  color: white;
  background: transparent;
  border: 1.5px solid #FFF;
  padding: 8px 20px;
  text-decoration: none;
  transition: all .5s;
  font-size: 15px;
  /*font-weight: 600;*/
}

#two_section a:hover {
  background: #0146ad;
  color: #FFF;
  border-color: transparent;
}

#two_section .container {
  max-width: 600px;
}

#whatwedo { background-color: whitesmoke; padding-top: 100px;}

#whatwedo p {
  padding: 30px 0 0 0;
  font-weight: 300;
}

.tilestrip_r {
  padding: 0px 0px;
}
.tilestrip_r img {
  max-width: 100%;
}
.tilestrip_r .texttile {
  padding-right: 60px;
  padding-left: 60px;
}

.tilestrip_l {
  padding: 0px 0px;
}
.tilestrip_l img {
  max-width: 100%;
}
.tilestrip_l .texttile {
  padding-right: 60px;
  padding-left: 60px;
}

#phone > svg { margin-top: -70px;}

#whatwedo .tilestrip_l .texttile  h3 {
  padding-top: 10px;
}

#europe_map {
  background-color: whitesmoke;
  background-color: #f1f1f5;
  background-color: #e8e8e8;
  padding: 65px 0;
}

#europe_map h3 { font-size: 26px;}

.nav_buttons { margin: 15px 0;}
.nav_buttons button:first-child {margin-left: 0;}
.nav_buttons button {transition: all .5s; margin: 0 10px; padding: 10px; border: 1.5px solid #0146ad;
 color: #0146ad; cursor: pointer; font-family: inherit; font-size: 15px;}
.nav_buttons button:hover {
  background: #0146ad;
  color: #FFF;
}
.nav_buttons button a { color: #0146ad;}
.more_btns {padding: 30px 0; }
.more_btns .nav_buttons {text-align: center;}
